.input-form {
  height: 60px;
  width: 100%;
  font-size: 18px;
  padding: 0 25px;
  border: 1px solid #e5e5e5;
  border-radius: 40px;
  color: black;
  background-color: #fff;
  box-shadow: 0 0 0 2px transparent;
  transition: 0.2s;
  margin-bottom: 1%;
}
