/* body {
  background: radial-gradient(#e5e5e5, #ffff, #e5e5e5);
} */
.my-card {
  width: 90%;
  border-radius: 1px;
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.card:hover {
  box-shadow: 5px 10px 20px 1px, rgba(0, 0, 0, 0.8);
}

.card-body {
  padding: 3rem 0;
}

p.card-text {
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 3;
  padding: 0px 15px 0px 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.card-fluid .row {
  padding-top: 100px;
}

.card-img-top {
  width: 100%;
  border-radius: 1px;
}

.icons-card {
  margin-bottom: 10px;
}

.card-icon {
  padding: 10px;
}
.card-icon:hover {
  color: #e5c416;
}

.btn-card {
  margin-bottom: 30px;
}
a.btn {
  color: #555555;
  border-radius: none;
  border-color: #e5c416;
}
a.btn:hover {
  border-color: #e5c416;
  color: #e5c416;
}
