.privacy {
    margin-top: 2%;
    width: 100%;
    padding: 5% 10%;  
}

.privacy-title {
    align-items:flex-start;
    justify-content: center;
}

.privacy-h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 48px;   
}

.privacy-title p {
    margin-bottom: 2em;
}

.privacy-content {
    align-items:flex-start;
    justify-content: center;
}

.privacy-content ul {
    list-style: none;
    text-align: left;
}

.privacy-content ul li {
    font-size: 14px;
    margin-bottom: 16px;
}