.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 50px;
    background:rgb(0, 0, 1,0.2);
    color: white;
    cursor: pointer;
    border-radius: 100px;
    border: none;
    box-shadow: 0 5px 10px #ccc;
    opacity: 0.5;
  }
  
  .back-to-top:hover {
    background: red;
  }