.affiliates{
    margin-top: 2%;
    width: 100%;
    padding: 5% 10%;  
}

.affiliates-title {
    margin-bottom: 48px;
}

.affiliates-h1{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;   
    margin-bottom: 0;   
}

.affiliates h2 {
    color: #888383;
}

.affiliates p {
    font-family: "Poppins", Arial, sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-top: 35px;
}

.affiliates-main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.affiliates-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 24px;
    margin-right: 60px;
}

.affiliates-icon {
    font-size: 30px;
}

.affiliates-list:nth-child(1) {
    margin-left: 60px;
}

.affiliates-list p {
    font-family: "Poppins", Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #2f2f2f;
    margin-top: 12px;
}
