/* .slick-list {
  padding-top: 1% !important;
  margin: 0px 10% !important;
} */

.slick-dots {
  margin-left: 0% !important;
}

.slick-prev:before {
  font-size: 40px !important;
}
.slick-next:before {
  font-size: 40px !important;
}

.slick-prev {
  left: -4% !important;
  z-index: 10;
}
.blogex-container{
  height: 60vh;
}
@media only screen and (max-width: 850px) {
  .slick-prev {
    left: -10% !important;
    z-index: 10;
  }
}
