.search-container{
    display: flex;
    align-items: center;
    width: 25%;
    right: 4%;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 8px;
    z-index: 1;
}
.search-main{
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 5px;
    overflow: hidden;
}
/* .search-area,.date-pick,.pick-number{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.line{
    width: 20px;
    transform: rotate(90deg);
    border: 0.5px;
    color:black !important;
}
.icons{
    font-size: 30px;
    margin: 0 5px;
    color: rgb(41, 91, 41);
} */
/* .submit{
    color:white;
    background-color: rgb(15, 84, 154);
    padding: 18px 20px;
} */

input,button{
    border: none ;
    background: none ;
}

.search-icon {
    font-size: 22px;
}

.search-text {
    width: 100%;
    background: #fff;
    border-radius: 6px;
    padding: 4px;
    margin-left: 4px;
    outline: none;
    height: 100%;
}